*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1e1e2f;
}

.calculator{
    background:#2c2c3e;
    padding:20px;
    border-radius:15px;
    width:320px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

#display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align:right;
    padding:10px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    padding:18px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#4a4a68;
    color:white;
}

button:hover{
    background:#66668a;
}

.equal{
    grid-column:span 2;
    background:#2575fc;
}

.equal:hover{
    background:#1a5edb;
}       
nav{
    background:#222;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}
